@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --gray-input: #e4e7f1;
  --gray-form: #f5f7fe;
  --light-green: #2fca76;
  --dark-gray-icons: #40434f;
  --error-color: #db324d;
  --pastel-green: #e9fbf2;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  padding: 3rem 2rem 4rem 2rem;
}

.dashboard-container .container-one {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.dashboard-container .container-two {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.profile-card-container {
  width: 25%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.625rem;
  background-color: var(--gray-form);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 20px;
  position: relative;
  margin: 1.25rem;
  word-break: break-all;
  hyphens: auto;
}

.profile-card-container img {
  height: 6.3rem;
  width: 6.3rem;
  border-radius: 31.25rem;
  object-fit: cover;
  position: absolute;
  top: -70px;
}

.profile-card-container .username {
  font-size: 18px;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

.profile-card-container span {
  font-size: 14px;
  margin: 0;
  color: #40434f;
}

.profile-card-container .user-profile-link a {
  text-decoration: none;
  color: var(--light-green);
  font-size: 18px;
  font-weight: bold;
}

.receipes-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 50%;
  margin: 0.9375rem;
  position: relative;
  background-color: var(--pastel-green);
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  padding-bottom: 10px;
}

.receipes-card-container .title h3 {
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  top: -1.4rem;
  color: #40434f;
  background-color: var(--pastel-green);
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 0.2rem;
}

.receipes-card-container .receipes-container {
  overflow-y: auto;
  height: 90%;
  margin-top: 14px;
  padding: 0.625rem;
  padding-top: 1rem;
}

.receipes-card-container .receipes-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.receipes-card-container .receipes-container::-webkit-scrollbar:vertical {
  width: 10px;
}

.receipes-card-container
  .receipes-container::-webkit-scrollbar-button:increment,
.receipes-card-container .receipes-container::-webkit-scrollbar-button {
  display: none;
}

.receipes-card-container .receipes-container::-webkit-scrollbar:horizontal {
  height: 10px;
}

.receipes-card-container .receipes-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.receipes-card-container .receipes-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.receipe {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px var(--dark-gray-icons) solid;
  color: #40434f;
}

.calendar-card-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.agendar-button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 2rem 0.7rem 2rem;
  margin-top: 0.8rem;
  background-color: var(--light-green);
  color: white;
  font-size: 0.9rem;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
}

.agendar-button:active {
  background-color: #92cdac;
}

.historial-card-container {
  width: 25%;
  background-color: var(--gray-form);
  border-radius: 1.25rem;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  flex-direction: column;
}

.historial-card-container .title {
  padding: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.historial-card-container .title a {
  font-size: 12px;
  color: #40434f;
}

.historial-card-container .historial-container {
  overflow-y: auto;
}

.historial-card-container .historial-container .historial-item {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3rem;
  word-break: break-all;
  hyphens: auto;
  margin-bottom: 0.8rem;
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.763);

  width: 100%;
}

.historial-card-container .historial-container .historial-item .row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.historial-card-container
  .historial-container
  .historial-item
  .row-container
  span {
  padding: 1.6px;
}

.agendar-turno-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 90vh;
  font-family: "Poppins", sans-serif;
  padding: 4rem;
  color: #40434f;

  width: 95%;
}

.agendar-turno-container .calendar-turnos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.agendar-turno-container .calendar-turnos-container .turnos-disponibles {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin-top: 0.5rem;
}

.agendar-turno-container .calendar-turnos-container .turnos-disponibles h3 {
  font-size: 0.8rem;
}

.agendar-turno-container .calendar-turnos-container .turnos-disponibles div {
  height: 16px;
  width: 16px;
  background-color: rgb(74, 198, 74);
  border-radius: 50%;
}

.agendar-turno-container .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  width: 50%;
  border-radius: 0.5rem;
}

.agendar-turno-container .container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.agendar-turno-container .container form div {
  margin: 0.3rem;
  width: 100%;
}

.agendar-turno-container .container form div select {
  width: 100%;
  padding: 14px 0px 14px 24px;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--gray-input);
}

.agendar-turno-container .container form .horario-container {
  margin-bottom: 0.5rem;
  display: flex;
}

.error {
  font-size: 12px;
  color: var(--error-color);
}

.historial-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 88vh;
  font-family: "Poppins", sans-serif;
  padding: 5.5rem;
}

.historial-view-container .historial-card-container {
  width: 50%;
  background-color: var(--pastel-green);
  min-height: 28.125rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 1rem;
}

.historial-view-container .historial-card-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.historial-view-container
  .historial-card-container::-webkit-scrollbar:vertical {
  width: 10px;
}

.historial-view-container
  .historial-card-container::-webkit-scrollbar-button:increment,
.historial-view-container .historial-card-container::-webkit-scrollbar-button {
  display: none;
}

.historial-view-container
  .historial-card-container::-webkit-scrollbar:horizontal {
  height: 10px;
}

.historial-view-container .historial-card-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.historial-view-container .historial-card-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.historial-view-container
  .historial-card-container
  .historial-container
  .historial-item
  .row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 39.0625rem) {
  .historial-card-container {
    width: 40%;
  }

  .profile-card-container {
    width: 40%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
}

@media (min-width: 50rem) {
  .historial-card-container {
    width: 30%;
  }
  .profile-card-container {
    width: 25%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
}

@media (max-width: 39rem) {
  .dashboard-container {
    padding-top: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .dashboard-container .container-one {
    flex-direction: column;
    margin: 0;
  }

  .dashboard-container .container-two {
    flex-direction: column;
    margin: 0;
    padding: 0.5rem;
    height: 120vh;
  }

  .historial-card-container {
    width: 100%;
  }

  .profile-card-container {
    width: 95%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }

  .receipes-card-container {
    width: 100%;
  }

  .historial-view-container {
    padding: 0.8rem;
    justify-content: center;
  }

  .historial-view-container h2 {
    text-align: center;
  }

  .historial-view-container .historial-card-container {
    width: 100%;
  }

  .agendar-turno-container {
    margin: 0;
    height: 120vh;
    flex-direction: column;
    width: 100%;
    padding: 0.8rem;
    justify-content: space-around;
  }

  .agendar-turno-container .container {
    width: 100%;
  }
}

@media (max-height: 28rem) {
  .historial-view-container {
    height: 150vh;
  }

  .historial-view-container .historial-card-container {
    width: 100%;
  }

  .agendar-turno-container {
    height: 120vh;
    margin: 0;
    min-height: 250vh;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    justify-content: space-around;
  }

  .agendar-turno-container .container {
    width: 100%;
  }
}
